* {
    --text-color-white: rgb(255,255,255);
    --font-title: 'VW Head', sans-serif;
    --font-paragraph: 'VW Text', sans-serif;
}

@font-face {
    font-family: 'vw_headregular';
    src: url('vwhead-regular-webfont.woff2') format('woff2'),
         url('vwhead-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'vw_textregular';
    src: url('vwtext-regular-webfont.woff2') format('woff2'),
         url('vwtext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #07204E;
}

.menu {
    margin: 0;
    float: right;
    display: block;
    padding-right: 5%;
    margin-top: 2%
    
    

}

.menu a {
    text-decoration: none;
    color: white;
    font-family: 'vw_headregular', sans-serif;
    padding: 0 16px;
    
    
}


.title {
    display: flex;
}

.title h1 {
    margin-top: 10vw;
    margin-left: 35vw;
}



h1 {
    font-family: 'vw_headregular', sans-serif;
    font-weight:bold;
    font-style:normal;
    color:white;
    font-size: 32px;
    }

.cars {
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.brands{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: 40px;
    height: 250px;
    width: 250px;
    
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
    background-color: white;
    border: 0;
    border-radius: 5px;
    color: #07204E;
    font-size: 22px;
    padding: 10px;
    margin: 10px;
    margin-left: 40px;
    width: 250px;
}




